image: registry.gitlab.com/ska-telescope/sdp/ska-sdp-benchmark-monitor:ci

stages:
  - setup
  - lint
  - test
  - publish
  - scan

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  VENV_DIR: "$CI_PROJECT_DIR/.venv"

.test_env:
  before_script:
    - python --version
    - pip --version
    - pip install virtualenv
    - virtualenv $VENV_DIR
    - source $VENV_DIR/bin/activate

install:
  stage: setup
  extends: [.test_env]
  script:
    - pip install -U pip setuptools wheel
    - pip install .[test]
  artifacts:
    paths:
      - $VENV_DIR
    expire_in: 1h

lint:
  stage: lint
  extends: [.test_env]
  script:
    - flake8 .

test_flake8:
  stage: test
  extends: [.test_env]
  tags:
    - k8srunner
  script:
    - pytest --no-cov tests/test_flake8.py

test_run_monitor:
  stage: test
  extends: [.test_env]
  tags:
    - k8srunner
  script:
    - pytest --no-cov tests/test_run_monitor.py::test_repo_log_pid

test_benchmon_visu:
  stage: test
  extends: [.test_env]
  tags:
    - k8srunner
  script:
    - pytest --no-cov tests/test_benchmon-visu_func.py
    # - pytest --no-cov tests/test_benchmon-visu.py

test_visualizer:
  stage: test
  extends: [.test_env]
  tags:
    - k8srunner
  script:
    - pytest --no-cov tests/test_visualizer.py

test_metrics:
  stage: test
  extends: [.test_env]
  tags:
    - k8srunner
  script:
    - pytest --no-cov tests/test_metrics.py

test_doc:
  stage: test
  extends: [.test_env]
  tags:
    - k8srunner
  script:
    - python -m pip install --upgrade --no-cache-dir pip setuptools
    - python -m pip install --upgrade --no-cache-dir sphinx
    - python -m pip install --exists-action=w --no-cache-dir -r docs/requirements.txt
    - cd docs
    - python -m sphinx -T -b html -d build/doctrees -D language=en src/ build/html
    - make html
  artifacts:
    paths:
      - build/
    expire_in: 1h

# pages-pages:
#   stage: pages
#   tags:
#     - k8srunner
#   script:
#     - mkdir -p public/reports
#     - mv build/linting.xml public/reports/linting.xml
#     #- mv build/tests.xml public/reports/unit-tests.xml
#   artifacts:
#     paths:
#       - public

# Create Gitlab CI badges from CI metrics
# https://developer.skatelescope.org/en/latest/tools/continuousintegration.html#automated-collection-of-ci-health-metrics-as-part-of-the-ci-pipeline
include:
  - project: 'ska-telescope/templates-repository'
    file: 'gitlab-ci/includes/finaliser.gitlab-ci.yml'

  - project: "ska-telescope/templates-repository"
    file: "gitlab-ci/includes/release.gitlab-ci.yml"
