apiVersion: 1

datasources:
  - name: InfluxDB
    type: influxdb
    access: proxy
    url: http://influxdb:8086
    isDefault: true
    editable: true
    jsonData:
      version: Flux
      organization: benchmon
      defaultBucket: metrics
      tlsSkipVerify: true
      timeout: 30
    secureJsonData:
      token: admin123
